.Rproj.user
.Rhistory
.RData

*.ps
*~
/data/predator.div.experiment/*.pdf
/data/predator.div.experiment/*.svg

MS/*.bbl
MS/*.blg
MS/*.log
MS/*.synctex.gz
MS/*-concordance.tex
MS/predatordiversity_figs.html

/figures/*
/MS/figure/*.pdf
/MS/figure/*.png

/MS/dianeinput/*

/MS/*#

*.Rproj

/MS/*.xmind
/MS/*.sublime-workspace

/MS/*.html
/MS/*.bibtex
/MS/##*