.Rproj.user
.Rhistory
.RData

*.ps
*~
/data/predator.div.experiment/*.pdf
/data/predator.div.experiment/*.svg

MS/*.bbl
MS/*.blg
MS/*.log
MS/*.synctex.gz
MS/*-concordance.tex
MS/predatordiversity_figs.html
MS/predatordiversity.pdf

/MS/dianeinput/*
/MS/*sublime-project
/MS/smallidea.md

/MS/*#

*.Rproj

/MS/*.xmind
/MS/*.sublime-workspace

/MS/*.html
/MS/*.bibtex
/MS/##*
/MS/ref_line.docx

/MS/cache/*

out*.png

Figures/*.svg
Figures/slide*
Figures/web*

R.scripts/dav_method.R
R.scripts/webfig.R



cache/
.remake/
MS/TABLE1.md
data/exper.Rdata

methods/toc.md
