.Rproj.user
.Rhistory
.RData
*.pdf
*.svg
*.ps
*~
predator.div.experiment/*.pdf
predator.div.experiment/*.svg
predator.div.experiment/*.ps
predator.div.experiment/*.png
ms-concordance.tex
ms.aux
ms.synctex.gz
ms.bbl
ms.log
ms.tex

MS/*.bbl
MS/*.blg
MS/*.log
MS/*.synctex.gz
MS/*-concordance.tex
MS/figure/*
MS/predatordiversity_figs.html
MS/predatordiversity_figs.md

